body {
    background-color: #fffbf7;
}

.header {
    margin: 20px;
    font-size: 0;
    font-family: sans-serif;
}

.fixed-header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}

h1 {
    color: #025157;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    color: #025157;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

p {
    color: #8b8b8bcc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;
}

li {
    display: inline;
    margin: 0px 25px 0px 25px;
}

.header>* {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
}

.logo {
    width: 15%;
}

.logo>img {
    width: 15%;
}

/* .navbar {
    position: relative;
    height: 45px;
    width: 60%;
    text-align: center;
    color: #025157;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    padding: 1%;
} */

.actions {
    text-align: right;
    font-size: 14px;
    font-weight: 600;
    margin: 0px 10px;
}

.actions>* {
    margin: 0px 10px;
}

.actions a {
    color: #67b54b;
    font-family: sans-serif;
}

.actions button {
    color: white;
    background-color: #67b54b;
    padding: 14px 12px;
    border-style: none;
    border-radius: 5px;
}

.main {
    margin-top: 15%;
    text-align: center;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.intro .publish {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    margin: 100px auto;
    gap: 50px;
}

.intro .publish h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    color: #025157;
    text-align: left;
}

.intro .publish p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
}

.intro main {
    margin-top: 22px;
}

.publish form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.publish img {
    width: 10%;
    transform: rotate(35deg);
}

.publish video {
    margin-top: 10%;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.blob--cases {
    left: -727.27273px;
    top: -438.09524px;
    -webkit-transform: rotate(104deg);
    -ms-transform: rotate(104deg);
    transform: rotate(97deg);
}

.blob svg {
    position: absolute;
    z-index: -1;
    width: 1600px;
    height: 1840px;
    display: inline-block;
    -webkit-filter: drop-shadow(0 0 40px rgba(0, 0, 0, .3));
    filter: drop-shadow(0 0 40px rgba(0, 0, 0, .3));
    cursor: default !important;
}

.blob svg path {
    -webkit-animation: blobJiggle 7.5s infinite linear;
    animation: blobJiggle 7.5s infinite linear;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

svg:not(:root) {
    overflow: hidden;
}

.second {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    flex-direction: row;
    margin: 100px auto;
    gap: 50px;
}

.container {
    border-radius: 20px;
    width: 260px;
    height: 32rem;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0px 0px 10px 1px #bababa;
    background-color: #fffbf7;
}

.container::-webkit-scrollbar {
    display: none;
}

.container .item {
    flex: 0 0 260px;
    width: 260 px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000;
}

.container img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.container .text {
    background-color: #fffbf7;
    margin-top: -30px;
    text-align: left;
    padding: 10%;
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
}

.container .text h2 {
    color: #025157;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    margin-bottom: 20px;
}

.links>* {
    margin-top: 10px;
    margin-left: 10px;
    height: 7px;
    width: 7px;
    background-color: #FFF;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    border-color: #025157;
    border-width: 2px;
}

.links>*:active {
    background-color: #025157;
}

.container .btnstudy {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.container button {
    background: #025157;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 13px;
    text-align: center;
    color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: none;
    margin-top: 25px;
}

.container button:hover {
    background: #67b54b;
    cursor: pointer;
}

.second .blog {
    display: flex;
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.second .blog h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    color: #025157;
    text-align: left;
}

.second .blog p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
}

.second .blog button {
    background: #025157;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 13px;
    text-align: center;
    color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: none;
    margin-top: 25px;
}

.second .blog button:hover {
    background: #67b54b;
    cursor: pointer;
}

.grid {
    position: relative;
    background-color: #025157;
    padding: 5% 10%;
    display: grid;
    height: auto;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}

.grid .grid-space {
    text-align: left;
    margin: 2%;
    padding: 3%;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.grid .grid-space .grid-content {
    padding: 2%;
    flex: content;
}

.grid .grid-space .grid-content>* {
    margin-bottom: 1rem;
    margin-top: 0;
}

.grid .grid-space .grid-content img {
    width: 40px;
}

.grid .grid-space .grid-content h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
}

.grid .grid-space .grid-content p {
    font-size: 17px;
    color: #7e7e7e;
    font-weight: 400;
}

.grid .grid-space .grid-content a {
    font-size: 17px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}

.grid .grid-space .grid-image {
    width: 40%;
    position: relative;
    right: -7%;
    height: 80%;
}

.grid .grid-space .grid-image figure,
.grid .grid-space .grid-image img {
    position: relative;
    margin-top: 0;
    height: 12em;
}

.Who {
    display: flex;
    width: 70%;
    flex-direction: column;
    margin: 100px auto;
    gap: 20px;
    margin-top: 30px;
}

.Who .gallery {
    display: grid;
    height: 660px;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.Who .gallery>* {
    display: flex;
    box-shadow: 0px 0px 10px 1px #bababa;
    border-radius: 20px;
    height: 560px;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    background-color: #FFF;
}

.Who .gallery .img {
    height: 40%;
    filter: hue-rotate(-90deg);
    filter: brightness(1.1);
    filter: drop-shadow(6px 0px 2px #ebf9e9);
    margin-bottom: 20px;
    align-self: center;
}


.Who h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    color: #025157;
    text-align: center;
}

.Who p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.Who h3 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 600;
    color: #025157;
}

.Who .gallery a {
    text-align: left;
    font-size: 17px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
    margin: 20px;
}

.Who button {
    background: #025157;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 13px;
    text-align: center;
    color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: none;
    margin-top: -50px;
    margin-bottom: 30px;
}

.Who button:hover {
    background: #67b54b;
    cursor: pointer;
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
    margin-left: 100px;
}

.navbar .btn-outline-success {
    margin-right: 100px;
    margin-left: 10px;
}

.navbar #burgermenuitem{
    display:none;
}

@media (max-width: 575px) {

    /* .navbar, .actions{
        display: none;
    } */
    h1 {
        font-size: 30px;
    }

    .main {
        margin-top: 60%;
    }

    .logo>img {
        width: 70%;
    }

    .banner>img {
        width: 100%;
    }

    .intro .publish>form {
        flex-direction: column;
    }

    .intro .publish>form>div {
        height: 50px;
        margin-top: 10px;
    }

    .intro .publish>form>input {
        width: 65%;
    }

    .intro .publish {
        flex-direction: column;
        max-width: 90%;
    }

    .intro .publish h2 {
        font-size: 25px;
    }

    .intro .publish video {
        width: 100%;
    }

    .grid {
        padding: 5% 10%;
        display: grid;
        height: auto;
        grid-template: repeat(4, 1fr) / repeat(1, 1fr);
    }

    .grid .grid-space .grid-image {
        display: none;
    }

    .grid .grid-space .grid-content {
        text-align: center;
    }

    .grid .grid-space .grid-content p {
        text-align: left;
    }

    .second {
        flex-direction: column;
    }

    .Who .gallery {
        grid-template: repeat(4, 1fr)/repeat(1, 1fr);
    }

    .navbar .btn-outline-success {
        margin-right: 0px;
        margin-left: 0px;
    }

    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }

    .navbar #menunormalitem{
        display:block;
    }

    .navbar #burgermenuitem{
        display:none;
    }
    
    .navbar button{
        width:100%;
        margin: 20px;
    }

    .second{
        margin-top: -30px;
    }

    .intro  {
        margin: 0px 10px 0px 10px;
    }
}