body {
    background-color: #fffbf7;
}


.header {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }

h1 {
    color: #025157;
    text-align: center;
}

p {
    color: #8b8b8bcc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;
}